body {
    margin: 0;
    background-color: #5a5555;
    font-family: 'Inter', sans-serif;
    font-weight:400;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote {
    margin: 0;
    padding: 0;
}



.content-section {
    box-sizing: border-box;
    width: 360px;
}